body{
margin:0;
font-family:Arial;
background:#0b0b0f;
color:white;
}

.app, .dashboard{
display:flex;
flex-direction:column;
align-items:center;
padding:20px;
}

.card{
background:#1a1a22;
padding:20px;
border-radius:15px;
width:300px;
}

input, select{
width:100%;
margin:8px 0;
padding:10px;
border-radius:8px;
border:none;
}

button{
width:100%;
padding:10px;
background:#00e676;
border:none;
cursor:pointer;
margin-top:10px;
}

.profile-card{
background:#1a1a22;
padding:20px;
border-radius:15px;
text-align:center;
}

.profile-card img{
width:80px;
height:80px;
border-radius:10px;
}

.stats{
margin-top:15px;
}

.dot{
display:inline-block;
width:10px;
height:10px;
background:lime;
border-radius:50%;
box-shadow:0 0 10px lime;
}

.box{
background:#1a1a22;
padding:15px;
margin-top:10px;
border-radius:10px;
width:300px;
}

.links button{
margin:5px;
}